<div class="main-header">
  <div class="group-name">
    hogefuga
  </div>
  <div class="chat-delete">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main-chat">
  <div class="chat-index">
    <div class="chat-send">
      <div class="send-name">tom</div>
      <div class="send-date">2020/3/31</div>
    </div>
    <div class="message">おはよう</div>
  </div>
  <div class="chat-index">
    <div class="chat-send">
      <div class="send-name">tom</div>
      <div class="send-date">2020/3/31</div>
    </div>
    <div class="message">こんばんは</div>
  </div>
</div>
<div class="main-form">
  <div class="form-input">
    <input placeholder="Type a message" class="message-form">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </div>
  </label>
  <input type="submit" value="送信" class="send-form">
</div>