.wrapper{
  display: flex;
}

.side{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253141;
}

.user-edit a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.chat-make a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}


.side-main{
  background-color: #2F3E51;
  height: calc( 100vh - 100px );
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.main {
  background-color: #ffffff;
  width: calc( 100vw - 300px );
  height: 100vh;
}

.main-header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.group-name{
  margin: 36px 0 0;
  font-size: 24px;
  color: #333;
}

.chat-delete a{
  border: 1px solid darkred;
  text-decoration: none;
  padding: 20px;
  color: darkred;
}

.chat-delete{
  margin-top: 40px;
}

.main-chat{
  background-color: #fafafa;
  height: calc( 100vh - 190px );
  padding: 46px 40px 0;
  overflow: scroll;
}

.chat-index{
  margin-bottom: 40px;
}

.chat-send{
  display: flex;
  margin: 10px 0;
}

.send-name{
  color: #434a54;
  font-size: 16px;
  margin-right: 10px;
}

.send-date{
  font-size: 12px;
  color: #999;
}

.message{
  font-size: 14px;
  color: #434a54;
}

.main-form{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  width: 100%;
  display: flex;
}

.message-form{
  border: none;
  padding-left: 10px;
  margin-right: 15px;
  height: 50px;
  width: 100%;
}

.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden{
  display: none;
}

.send-form{
  background-color: #38aef0;
  padding: 0 20px;
  font-size: 16px;
  color: white;
  height: 50px;
  border: none;
}